.test-template {
  font-family: sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px;

  .title {
    font-size: 48px;
    font-weight: 700;
    color: blue;
    margin-bottom: 40px;
  }

  .subtitle {
    font-size: 24px;
    font-weight: 700;
    color: green;
    margin-bottom: 40px;
  }

  .summary {
    font-size: 16px;
    color: rebeccapurple;
  }
}
